#taste {
    font-size: 350%;
    font-weight: 700;
    animation: color-change 2s infinite;
}

@keyframes color-change {
    0% { color: rgb(202, 211, 83); }
    20% { color: rgb(101, 221, 101); }
    50% { color: rgb(110, 110, 175); }
    70% { color:rgb(114, 114, 114); }
    100% { color: rgb(202, 211, 83); }
}
